{% extends "index.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
            <form action="/model/{{ model.model_id }}" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Название</label>
                    <input type="text" class="form-control" id="nameInput" name="model_name"
                           value="{{ model.model_name }}">
                </div>
                <div class="mb-3">
                    <label for="aricleInput" class="form-label">Артикул</label>
                    <input type="text" class="form-control" id="aricleInput" name="article_number"
                           value="{{ model.article_number }}">
                </div>
                <div class="mb-3">
                    <label for="photoInput" class="form-label">Фото</label>
                    <input type="text" class="form-control" id="photoInput" name="photo" value="{{ model.photo }}">
                    <div id="photoHelp" class="form-text">Вставьте ссылку на фото</div>
                </div>
                <div class="mb-3">
                    <label for="laysInput" class="form-label">Лекала</label>
                    <input type="text" class="form-control" id="laysInput" name="layout_patterns"
                           value="{{ model.layout_patterns }}">
                    <div id="laysHelp" class="form-text">Вставьте ссылку на файл</div>
                </div>
                <div class="mb-3">
                    <label for="techInput" class="form-label">Технология пошива</label>
                    <input type="text" class="form-control" id="techInput" name="tailoring_technology"
                           value="{{ model.tailoring_technology }}">
                </div>
                {% for size, checked in sizes.items() %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="size_range_{{ size.name }}"
                               id="flexCheckChecked"
                               {% if checked == True %}checked{% endif %}>
                        <label class="form-check-label" for="flexCheckChecked">
                            {{ size.name }}
                        </label>
                    </div>
                {% endfor %}

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}