{% extends "table/table_template.html" %}
{% block tname %}Материалы{% endblock tname %}
{% block theaders %}
    <th>Модель</th>
    <th>Наименование</th>
    <th>Метров на линейку</th>
{% endblock theaders %}
{% block trows %}
    {% for row in rows %}
        <tr>
            <td>{{ row.model_name }}</td>
            <td>{{ row.materials_name }}</td>
            <td>{{ row.m_per_ruler }}</td>
            <td>
                <form action="/materials/{{ row.materials_id }}/delete" enctype="multipart/form-data" method="POST">
                    <input type="submit" class="btn btn-danger" value="Удалить">
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock trows %}