{% extends "table/table_template.html" %}
{% block tname %}Ассортимент{% endblock tname %}
{% block add %}/model/create{% endblock %}
{% block theaders %}
    <th>Наименование</th>
    <th>Артикул</th>
    <th>Фото</th>
    <th>Раскладка лекал</th>
    <th>Технология пошива</th>
    <th>Размеры</th>
{% endblock theaders %}
{% block trows %}
    {% for row in rows %}
        <tr>
            <td>{{ row.model_name }}</td>
            <td>{{ row.article_number }}</td>
            <td><img src="{{ row.photo }}" class="img-fluid" alt=""></td>
            <td>{{ row.layout_patterns }}</td>
            <td>{{ row.tailoring_technology }}</td>
            <td>{% for size in row.size_range %}{{ size.value }}, {% endfor %}</td>
            <td>
                <div class="btn-group">
                    <form class="btn-group" action="/model/{{ row.model_id }}/delete" enctype="multipart/form-data"
                          method="POST">
                        <input type="submit" class="btn btn-danger" value="Удалить">
                    </form>
                    <form class="btn-group" action="/model/{{ row.model_id }}" enctype="multipart/form-data"
                          method="GET">
                        <input type="submit" class="btn btn-warning" value="Изменить">
                    </form>
                    <div class="btn-group">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Скачать документ
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/model/{{ row.model_id }}/accessories">Вся фурнитура</a>
                            </li>
                            <li><a class="dropdown-item" href="/model/{{ row.model_id }}/materials'">Все материалы</a>
                            </li>
                            <li><a class="dropdown-item" href="/model/{{ row.model_id }}/shipment">Все партии</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock trows %}