{% extends "index.html" %}
{% block content %}
    <h1>{% block tname %}{% endblock %}</h1>
    <form action="{% block add %}{% endblock add %}" enctype="multipart/form-data" method="GET">
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
    <table class="table">
        <thead>
        <tr>
            {% block theaders %}{% endblock %}
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% block trows %}{% endblock %}
        </tbody>
    </table>
{% endblock %}